<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MusicShop</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header>
    <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
    <% end %>
    <% if current_user %>
      Uou are logged in as <%= current_user.name %>
        <%= render 'shared/cart' %>
    <% end %>
  </header>

  <div id="content">
    <%= yield %>
  </div>

  </body>
</html>
